.about-logo-big {
  width: 1202px;
  height: 221.495px;
  flex-shrink: 0;
}

.about-us-logo {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.about-us-text {
  color: var(--BROWN, #410902);

  /* text-simple-text */
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 585px;
}

.about-us-block {
  width: 383px;
  height: 383px;
  flex-shrink: 0;
}

.about-us {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}
