.button-shop {
  display: inline-flex;
  padding: 10.054px 15.077px;
  justify-content: center;
  align-items: center;
  gap: -7.032px;
  border: 1.005px solid var(--BROWN, #410902);
  color: var(--BROWN, #410902);
  font-family: "Be Vietnam Pro";
  font-size: 20.09px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  height: 50;
}

.button-header {
  margin-left: -130px;
  margin-top: 220px;
}
