.footer-add-us {
  color: var(--BROWN, #410902);
  font-family: "Be Vietnam Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0 52px 0;
}

.footer-contact-icon {
  width: 49%;
}

.footer-contact-icon-insta {
  width: 50%;
}

.footer-sun {
  width: auto;
  padding: 20px;
}

.footer-contact-title {
  color: var(--BROWN, #410902);

  /* footer-text */
  font-family: "Be Vietnam Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.footer-contact-text {
  color: var(--brown-60, rgba(65, 9, 2, 0.6));

  /* footer-text */
  font-family: "Be Vietnam Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  gap: 7px;
  display: flex;
  flex-direction: column;
}

.footer-contact-text a:hover {
  color: #a18e8b;
}

.footer-infos {
  display: flex;
  justify-content: space-between;
  padding: 72px 0 35px 0;
}

.footer-rights {
  padding: 20px 0 43px 0;
}

.footer-arrow {
  width: 26.045px;
  height: 33.011px;
  flex-shrink: 0;
}
