.nav-logo-small {
  width: auto;
}

.nav-text img {
  width: 3%;
}

.nav-text {
  gap: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--BROWN, #410902);
  font-family: "Gyst Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  justify-content: center;
}

.language {
  color: var(--BROWN, #410902);
  font-family: "Gyst Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 20px 0;
}
